{% extends 'base.html' %}
{% block main %}
    <h1>Video Playlist Manager</h1>
    <div style = "text-align: center">
    Welcome to the Video Playlist Manager Web Application!
    This is a simple web application that allows you to manage your video playlists.
    You can create, edit and delete playlists, as well as add and remove videos from them.
    <p />
    Please, choose an option below:
    <p />
    <button type="button" class="button" onclick=simple_action("{{ url_for('users_login') }}")>Sign In</button>
    <button type="button" class="button" onclick=simple_action("{{ url_for('users_signup') }}")>Sign Up</button>
    <script type="text/javascript">
        function simple_action(target) {
            window.location = target
        }
    </script>
{% endblock %}